*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: url('../images/1.gif'),url('../images/1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-blend-mode: multiply;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform:uppercase;
}
.form{
    width:40%;
    margin: 8% auto;
    padding: 100px 0;
    background: rgb(241, 241, 223);
    h1{
        text-align: center;
        font-size:50px;
        color: darkcyan;
        padding-bottom: 50px;
    }
    &-body{
        display:flex;
        flex-direction: column;
        width:100%;
        margin: 0 auto;
        input[type="text"],input[type="email"],input[type="password"],input[type="number"]{
            width: 50%;
            margin: 1% auto;
            padding: 10px 0;
            border: none;
            border-bottom: 1px solid grey;
            background-color: rgb(252, 255, 236);
            text-align: center;
            text-transform: uppercase;
            font-size: 1rem;
        }
        label{
            width: 50%;
            margin: 0 auto;
            text-align: center;
            font-size: 15px;
            input{
               text-align: center;
               margin: 1% ;
               
            }
        }
        input[type='submit']{
            width: 30%;
            padding: 10px;
            margin: 1% auto;
            text-transform:uppercase;
        }

    }
}
#lo{
    width: 50%;
    margin:0 auto;
    text-align: center;
    padding: 10px 0;
    a{
    color: rgb(14, 122, 216);
    font-weight: 700;
    font-size: 20px;
    }
}
@media only screen and (min-width:768px) and (max-width:1439px){
    .form{
        width:60%;
        h1{
            font-size:40px;
        }
        &-body{
            input[type="text"],input[type="email"],input[type="password"],input[type="number"]{
                width: 60%;
            }
            label{
                width: 60%;
            }
        }
    
    }
}
